label.control-label {
    text-transform: capitalize;
}

.capitalize {
    text-transform: capitalize;
}

.main-container {
    margin: 10px;
}

.brand-img {
	width: 50px;
	height: auto;
	margin-top: 5px;
}

.navbar-ot-user {
	margin-right: 20px;
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	opacity: 0.75;
	background: #878787;
}

.loader-img {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 275px;
	height: 200px;
	margin-top: -100px;
	margin-left: -137px;
	background-color: #878787;
}

.search-input {
	font-size: 11px;
	font-weight: normal;
}

.component-search-view {
	margin-top: 10px;
}

.mode-bar {
	text-align: right;
}

.edit-bar {
	text-align: right;
}

.label-bar {
	margin-top: 5px;
}

.label-box {
	font-size: 13px;
}

.modal-info {
	margin-top: 10px;
	border: 1px solid #ccc;
}

.modal-form {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	text-align: right;
}

.label-quantity {
	font-size: 13px;
}
