{% extends "main/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'inventory/css/inventory.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'main/js/knockout-3.4.2.js' %}"></script>
{% endblock %}

{% block title %}Component{% endblock %}

{% block content %}
<body>
	<nav class="navbar navbar-default navbar-static-top navbar-ot-color">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/components/">
					<img class="brand-img" src="{% static 'inventory/images/logo.png' %}">
				</a>
			</div>
			<a href="/logout/" class="navbar-text navbar-right navbar-ot-user">Logout</a>
			<p class="navbar-text navbar-right navbar-ot-user">{{ name }}</p>
		</div>
	</nav>
    <div class="container-fluid main-container">
        <ol class="breadcrumb">
            <li class="active capitalize">Components</li>
        </ol>
        {% for component in components %}
            <a href="/components/{{component.id}}/" class="btn btn-default btn-lg btn-block capitalize">{{ component.name }}</a>
        {% endfor %}
</body>
{% endblock %}